.masthead{
	padding: 70px 0 80px;
	margin-bottom: 0;
	color: @white;
}

.masthead h1 {
	font-size: 100px;
	line-height: 1;
	letter-spacing: -2px;
}

.masthead p {
	font-size: 35px;
	font-weight: 200;
	line-height: 1.25;
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	background-color: #f5f5f5;
}