!!! 5
html
	head
		title Admin &#x266b; #{settings.sitename}
		link(rel='stylesheet', href='css/theme.min.css')

	body.has-static-navbar
		div#page-alert.page-alert

		div.container-fluid
			div.row-fluid
				.navbar.navbar-fixed-top
					.navbar-inner
						div.container-fluid
							div.row-fluid
								a.brand(href='/') &#x266b; #{settings.sitename}
								ul.nav
									li: a(href='/') Home
									li.active: a(href='/admin') Editor
								ul.nav.pull-right
									li.dropdown
										a.dropdown-toggle(href='#', data-toggle='dropdown') 
											| #{user.name} &nbsp;
											b.caret
										ul.dropdown-menu
											li: a(href='/logout') Logout

		div.container-fluid
			
			div.row-fluid
				div.span8
					section#sets
						div.page-header
							h3 Mapping Sets

						include setTable
				
				div.span4
					section#setEdit
						div.page-header
							h3 Add new set
						include setForm


		div.container-fluid

			div.row-fluid
				div.span8
					section#sounds
						div.page-header
							h3 Available sounds
						include soundTable

				div.span4
					section#upload
						div.page-header
							h3 Upload
						include upload

			div.row-fluid
				div.span8
					section#sequences
						div.page-header
							h3 Some sequences
						include sequenceTable

				div.span4
					section#mapping
						div.page-header
							h3 Mapping
						include mapping

				

		script(src="js/libs/jquery/jquery-1.9.1.min.js")
		script(src="js/libs/bootstrap/bootstrap.min.js")
		script(src="js/libs/bootstrap/jasny-bootstrap.min.js")

		script(src="js/libs/require/require.js", data-main="js/admin/main")