!!! 5
html
	head
		title Admin Page
		link(rel='stylesheet', href='css/theme.min.css')
	body
		div#page-alert.page-alert

		div.container-fluid
			div.row-fluid
				div.span8
					section#mappings
						div.page-header
							h2 Placeholder for mappings
						p [Put stuff here]
						br
						br

					section#sounds
						div.page-header
							h2 Uploaded sounds

						include soundTable

					section#sequences
						div.page-header
							h2 Some sequences

						include sequenceTable

				div.span4
					div.row-fluid
						include upload

		script(src="js/libs/jquery/jquery-1.9.1.min.js")
		script(src="js/libs/bootstrap/bootstrap.min.js")
		script(src="js/libs/bootstrap/jasny-bootstrap.min.js")

		script(src="js/libs/require/require.js", data-main="js/admin/main")