form#mapping_form(action="/admin/mapping/set", method="post", enctype="multipart/form-data")
	input(type="hidden", name="sequence_id", value='')
	p
		label(for="sequence") Sequence
		input.span12(type="text", name="sequence", placeholder="", disabled)

	p
		label(for="sound") Sound
		select.span12(name="sound", disabled)

	.form-actions
		input.submit.btn.btn-primary(type="submit", value="Submit", data-loading-text="Loading...")
		
.progressBarContainer.hide
	div.progress
		div.bar