form#upload_form(action="/admin/sound/upload", method="post", enctype="multipart/form-data")
	p
		label(for="name") Name
		input.span12(type="text", name="name", placeholder="Flamingo 1")
	p
		label(for="tags") Tags
		input.span12(type="text", name="tags", placeholder="birds, loud, ...")
		span.help-block provide tags as comma seperated list
	p
		label(for="source") Source
		input.span12(type="text", name="source", placeholder="http://...")
	p
		label(for="license") License
		input.span12(type="text", name="license", placeholder="CC")
	p
		label(for="author") Author
		input.span12(type="text", name="author", placeholder="John Doe")
	p
		label(for="sound") Soundfile
		div.fileupload.fileupload-new(data-provides="fileupload")
			div.input-append
				div.uneditable-input.span3
					i.icon-file.fileupload-exists
					span.fileupload-preview
				span.btn.btn-file
					span.fileupload-new
						| Select file
					span.fileupload-exists
						| Change
					input(type="file", name="sound")
				a.btn.fileupload-exists(href="#", data-dismiss="fileupload") Remove
	.form-actions
		input.submit.btn.btn-primary(type="submit", value="Upload", data-loading-text="Loading...")
		
.progressBarContainer.hide
	div.progress
		div.bar