.navbar-inner
	.container-fluid
		ul.nav
			li
				a(href="#overview")
					| Overview
			li
				a(href="#selectSet")
					| Choose Set
			li
				a(href="#concept")
					| Concept
			li
				a(href="#technology")
					| Technology
