tr
	td 
		strong #{set.name}

	td
		- var updatedDateString = new Date(set.updated).toDateString();
		| #{updatedDateString}
	td
		| #{users[set.user_id].name}
	td.rowLink.hide
		a(href="/listen/#{set.id}")