.text-center
	h2
		| Technology
.row
	.span3
		h3
			| tech header
		p
			| This is a cool description about a very very cool
			| technology we used in this project
	.span3
		h3
			| tech header
		p
			| This is a cool description about a very very cool
			| technology we used in this project
	.span3
		h3
			| tech header
		p
			| This is a cool description about a very very cool
			| technology we used in this project
	.span3
		h3
			| tech header
		p
			| This is a cool description about a very very cool
			| technology we used in this project