!!! 5
html
	head
		title Admin Page
		link(rel='stylesheet', href='css/bootstrap.min.css')
	body
		div.page-alert#page_alert.hide
		div.container-fluid
			div.row-fluid
				div.span8
					h1 placeholder for mappings
				div.span4
					div.row-fluid
						div.span12
							form#upload_form(action="sound", method="post", enctype="multipart/form-data")
								legend upload new sound file
								p
									label(for="tags") Tags
									input.span10(type="text", name="tags", placeholder="taglist")
									span.help-block provide tags as comma seperated list
								p
									label(for="source") Source
									input.span10(type="text", name="source", placeholder="source")
								p
									label(for="license") License
									input.span10(type="text", name="license", placeholder="license")
								p
									label(for="author") Author
									input.span10(type="text", name="author", placeholder="author")
								p
									label(for="file") Soundfile
									div.fileupload.fileupload-new(data-provides="fileupload")
										div.input-append
											div.uneditable-input.span3
												i.icon-file.fileupload-exists
												span.fileupload-preview
											span.btn.btn-file
												span.fileupload-new
													| Select file
												span.fileupload-exists
													| Change
												input(type="file", name="sound")
											a.btn.fileupload-exists(href="#", data-dismiss="fileupload") Remove
								p
									input#submit_file.btn.btn-primary(type="submit", value="upload", data-loading-text="Loading...")
					div.row-fluid#progress_bar_container.hide
						div.span10
							div.progress
								div.bar#progress_bar
		script(src="js/libs/jquery-1.9.1.min.js")
		script(src="js/libs/bootstrap.min.js")
		script(src="js/admin/app.js")