.text-center
	h1.page-header
		| Build with
	br
.row-fluid
	.span2.text-center
		a(href="http://twitter.com/")
			img(src='/img/logos/twitter.png')

	.span2.text-center
		a(href="http://oauth.net/")
			img(src='/img/logos/oauth.png')

	.span2.text-center
		a(href="http://www.w3.org/TR/html51/")
			img(src='/img/logos/html5.png')

	.span2.text-center
		a(href="http://www.w3.org/standards/techs/css")
			img(src='/img/logos/css3.png')

	.span2.text-center
		a(href="http://requirejs.org/")
			img(src='/img/logos/requirejs.png')

	.span2.text-center
		a(href="http://passportjs.org/")
			img(src='/img/logos/passportjs.png')
br
br

.row-fluid

	.span3.text-center
		a(href="http://nodejs.org/")
			img(src='/img/logos/nodejs.png')

	.span2.text-center
		a(href="http://jasny.github.io/bootstrap/")
			img(src='/img/logos/bootstrap.png')

	.span3.text-center
		a(href="http://underscorejs.org/")
			img(src='/img/logos/underscorejs.png')

	.span2.text-center
		a(href="http://www.mysql.com/")
			img(src='/img/logos/mysql.png')

	.span2.text-center
		a(href="http://expressjs.com/")
			img(src='/img/logos/expressjs.png')