.row-fluid
	.span3

		h3.page-header
			i.iconic-hash
			| Tweets
		p
			| Trough Twitter's Stream API we gain 
			b global, near "real-time" content from all over the world 
			| for our project. Incoming tweets are split, analyzed and processed in order to detect the most relevant words 
			| which we are using for further transformation.
	.span3
		h3.page-header
			i.iconic-headphones
			| Audio
		p
			| While it's hard to read the huge amount of statements that are tweeted globally (~5000/s)
			| it might be easier to get an idea of what is going on 
			b by just "listening" to keywords. 
			| That is why we chose audio to create an immediate and intense experience.
	.span3
		h3.page-header
			i.iconic-map-pin
			| Geo
		p
			| Modern use of the web through 
			b screens often makes us forget about distance and time. 
			| We want to bring back those aspects by using locational information
			| about the data and the listener and bring them into a relation again.
	.span3
		h3.page-header
			i.iconic-link
			| Association
		p
			| So how do we connect words and sounds? Simple:  
			b We don't! It's your job! 
			| Just create your own interpretations of words by building 
			b personal sets of word-to-sound associations. 
			| These are public by default so 
			b go ahead a explore what others mapped before you!