.row-fluid
	.span3
		h3.page-header
			| Tweets
		p
			| Twitter's live stream delivers global, near "real-time" data input for this project.
			| Incoming tweets are split, analyzed and processed in order to detect the most relevant words.
	.span3
		h3.page-header
			| Audio
		p
			| While it's hard to read the huge amount of statements that are tweeted globally (per second)
			| it might be easier to get an idea by just "listening" to the messages.
			| That is why we chose audio to create an immediate and intense experience.
	.span3
		h3.page-header
			| Geo
		p
			| Modern use of the web through screens often makes us forget about distance and time.
			| We want to bring back those apsects into this project by using locational information
			| about the data and listener in order to bring them into a relation again.
	.span3
		h3.page-header
			| Association
		p
			| How do we connect words and sounds? It's your job!
			| We made it possible for you to create your inpretations of words by building
			| your own personal sets of word-to-sound associations. These are public by default
			| so go ahead a explore others.