.text-center
	h1.page-header
		| Motivation
.row-fluid
	.span12
		p.text-center
			| project vis narr
			| HTW berlin
			| real-time data
			| human statements
			| changing over time / trends
			| transformation of data to natural sounds
			| new web technology web audio
			| sound in space
			| new way of expoloring/consuming distance / position and content
			| difficulties finding set of sounds
			| watching twitter input / tracking / growing database
			| different ideas / approaches for sounds
			| text-to-speech (topics), animal-sounds (comparism of mass)
			| 2 persons, already total different ideas
			| possibility to create different sets of associations
			| give users the possibility to create their own sets
			| give users the possibility to share and explore each other's sets
			| interesting for us to see how people associate certains words and sounds

