.navbar-inner
	.container-fluid
		a.brand(href='/') &#x266b; #{settings.sitename}
		ul.nav
			li
				a(href="#components")
					| Components
			li
				a(href="#select-set")
					| Listen
			li
				a(href="#motivation")
					| Motivation
			li
				a(href="#technology")
					| Technology
			li
				a(href="#forecast")
					| Forecast
			li
				a(href="#build-with")
					| Build with