.text-center
	h1.page-header
		| Wanna try it out?
.row-fluid
	.span8
		h3.page-header
			i.iconic-clock
			| Most recent associations
		.row-fluid
			.span12
				include setTable
	.span4
		h3.page-header
			i.iconic-brush
			| Create your own
		p
			| You want to create your own set of mappings, upload sounds and share
			| your mappings with others?

		a.btn.btn-large.btn-primary(href="/admin")
			| Open the editor!