.text-center
	h2
		| Try it!
.row-fluid
	.span9
		h3
			| Most recent associations
		.row-fluid
			.span12
				include setTable
	.span3
		h3
			| Create your own
		p
			| You want to create your own set of mappings, upload sounds and share
			| your mappings with others?
		p
			| open the editor and get started
		a.btn.btn-large(href="/admin")
			| editor