.text-center
	h1.page-header
		| Quit the japping and show me!
.row-fluid
	.span9
		h3.page-header
			| Most recent associations
		.row-fluid
			.span12
				include setTable
	.span3
		h3.page-header
			| Create your own
		p
			| You want to create your own set of mappings, upload sounds and share
			| your mappings with others?
		p
			| open the editor and get started
		a.btn.btn-large(href="/admin")
			| editor