.text-center
	h1.page-header
		| Technology stack
.row-fluid
	.span3
		h3.page-header
			| Database
		p
			| persistent storage of words / mapping / users / sounds / mappingSets
	.span3
		h3.page-header
			| Audio Storage
		p
			| persistent storage of audio files
			| conversion from * to mp3 using ffmpeg
	.span3
		h3.page-header
			| Web Server
		p
			| built with Node.js
			| monitors Twitter input
			| matching of tweets to sets
			| delivers results via websocket
	.span3
		h3.page-header
			| Matching
		p
			| based on Trie / Aho-Corasick algorithm
			| fast efficient perfomant
			| find words in text
.row-fluid
	.span3
		h3.page-header
			| MISSING
		p
			| 
	.span3
		h3.page-header
			| Frontend Editor
		p
			| allows user authentication
			| upload sounds
			| create mappingSets
			| map words to soundfiles
	.span3
		h3.page-header
			| Frontend Client
		p
			| websocket connection
			| geolocation API to locate user
			| computes distance and bearing between tweet and user position
			| Web Audio API to load and playback sounds
	.span3
		h3.page-header
			| Open Source
		p
			| entire source code open sourced on github
			| works on Windows, Mac and Linux
			strong  link here
