.text-center
	h1.page-header
		| Technology stack
.row-fluid
	.span3
		h3.page-header
			i.iconic-layers
			| Database
		p
			| All user supplied data, like words, mappings, users, sounds, association sets, etc., is persistently stored in a MySQL database for the probable fail-over case.

	.span3
		h3.page-header
			i.iconic-download
			| Audio Storage
		p
			| When files are uploaded, we run FFmpeg in order to convert your audio data to compressed mp3 files
			| and rename them to get rid of duplicates.
	.span3
		h3.page-header
			i.iconic-cloud
			| Web Server
		p
			| Built with Node.js and Express, our webserver connects the Twitter analysis with
			| our matching and association algorithms. There are actually two of them,
			| one provides the frontend you see here, and one that delivers mappings in realtime
	.span3
		h3.page-header
			i.iconic-list-nested
			| Matching
		p
			| Tweets are split into distinct sequences and put into a specialized Trie data structure: 
			| the Aho-Corasick trie which is really fast to detect all matches in a text.
.row-fluid
	.span3
		h3.page-header
			i.iconic-question-mark
			| 
		p
			| 
	.span3
		h3.page-header
			i.iconic-wrench
			| Editor
		p
			| Integrated into the frontend, it allows users to upload sounds, new mappings 
			| and all of which secured through PassportJS' custom user authentication
	.span3
		h3.page-header
			i.iconic-bolt
			| Frontend Client
		p
			| The client listens to the server through a HTML5 websocket connection
			| and uses geolocation API to compute the distance and bearing from tweets in relation to the user one's.
			| The
			| Web Audio API is used to load and playback sounds
	.span3
		h3.page-header
			i.iconic-book-alt2
			| Open Source
		p
			| The greatest thing? The entire source code is open to be extended by you! entire source code open sourced on Github. The servers run on Windows, Mac, and Linux likewise. Awesome, right?
			
