!!! 5
html
	head
		title &#x266b; #{settings.sitename}
		link(rel='stylesheet', href='css/theme.min.css')
		| <script type='text/javascript'>
		- var settingsJson = JSON.stringify(clientSettings)
		| settings = !{settingsJson}
		| </script>

	body.has-static-navbar(data-spy="scroll", data-target=".navbar", data-offset="100")

		//- fixed top navigation
		.navbar.navbar-fixed-top
			include landingPage/navbar

		//- the big header
		header.jumbotron.masthead
			include landingPage/header

		//- the content container
		.container-fluid

			section#components
				include landingPage/components
			
			section#select-set
				include landingPage/selectSet
			
			section#motivation
				include landingPage/motivation
			
			section#technology
				include landingPage/technology
			
			section#build-with
				include landingPage/buildWith

		footer.footer
			include landingPage/footer

		script(src="js/libs/jquery/jquery-1.9.1.min.js")
		script(src="js/libs/bootstrap/bootstrap.min.js")
		script(src="js/libs/bootstrap/jasny-bootstrap.min.js")

		script(src="js/libs/require/require.js", data-main="js/landing/main")