!!! 5
html
	head
		title Client Page
		link(rel='stylesheet', href='css/bootstrap.min.css')
		| <script type='text/javascript'>
		- var settingsJson = JSON.stringify(clientSettings)
		- var mappingsJson = JSON.stringify(mappings)
		| settings = !{settingsJson}
		| mappings = !{mappingsJson}
		| </script>
	body
		h1 Hi
		h2 for now please watch your console!
		input#volume_slider.hide(type="range", min="1", max="100", value="70", step="5‚")
		script(src="js/libs/require/require.js", data-main="js/client/main")