!!! 5
html
	head
		title Client Page
		link(rel='stylesheet', href='/css/theme.min.css')
		| <script type='text/javascript'>
		- var settingsJson = JSON.stringify(clientSettings)
		| settings = !{settingsJson}
		| </script>

	body
		div.clientContent
			div.centerContainer
				.span6#title
					h2.text-center 
						| Listening to "
						span.bright #{sequenceSoundSet.name}
						| " by #{author.name}

				div.span6.centered#progress_container
					include progress

				div.span6.centered.hide.volumeSlider
					include volume

		script(src="/js/libs/require/require.js", data-main="/js/client/main")