!!! 5
html
	head
		title Client Page
		link(rel='stylesheet', href='css/theme.min.css')
		link(rel='stylesheet', href='css/client/listen.css')
		| <script type='text/javascript'>
		- var settingsJson = JSON.stringify(clientSettings)
		- var mappingsJson = JSON.stringify(mappings)
		| settings = !{settingsJson}
		| mappings = !{mappingsJson}
		| </script>
	body
		div
			div.span6.centered#progress_container
				include progress
			div.span6.centered.hide#slider
				include volume
		script(src="js/libs/require/require.js", data-main="js/client/main")